@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.hide {
  display: none;
}

html {
  scroll-behavior: smooth;
}
li,
ul,
a {
  list-style-type: none;
  text-decoration: none;
  font-weight: 600;
  transition: all ease 0.3s;
}
.btn {
  margin-top: 32px;
  padding: 12px 18px;
  width: 132px;
  border-radius: 9999px;
  border: none;
  background-color: #6415ff;
  font-size: 14px;
  color: white;
  font-weight: bold;
  line-height: 1.5;
  cursor: pointer;
}
.btn__menu {
  background-color: transparent;
  font-size: 18px;
  text-align: center;
  border: none;
  color: #7342d6;
  display: none;
}
.pos {
  display: flex;
}

.menu__backdrop {
  position: absolute;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
  height: 400px;
  border-radius: 25px;
  border: 2px solid rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;
}
.menu--open .menu__backdrop {
  background-color: white;
  visibility: visible;
  opacity: 1;
  position: absolute;
}
.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

.navi {
  display: flex;
}
.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__list {
  padding: 32px 0;
}
.menu__link {
  color: black;
}


#top__color a:hover {
  color: #6415ff;
}
#top__color a {
  transition: all ease 0.3s;
}

#navigation .container .row {
  display: flex;
}
.container {
  padding: 80px;
}
section {
  display: block;
}
#navigation {
  padding: 2rem;
}
.purple {
  color: rgb(100, 21, 255);
}
.container {
  padding: 92px 0;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  font-size: 48px;
  color: #243363;
}

.service__para {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7c8ba1;
  text-align: left;
  max-width: 576px;
  margin: 24px 0px 36px 0px;
}

.title {
  font-weight: 900;
  font-size: 48px;
  color: #243363;
  margin-top: 24px;
}

/* NAV BAR */

/* Left Side */
.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo h1 {
  color: rgb(36, 62, 99);
  font-weight: 900;
  font-size: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 14px;
}

/* Right Side */
.nav__purple--border {
  background-color: rgb(36, 62, 99);
  padding: 12px 32px;
  border: 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  justify-content: center;
}

.nav li {
  list-style-type: none;
  font-weight: 600;
  letter-spacing: 0.025em;
  padding: 24px;
}
.nav a {
  text-decoration: none;
  color: rgb(36, 62, 99);
  font-size: 14px;
}
.nav__purple--border {
  background-color: rgb(100, 21, 255);
  padding: 12px 32px;
  border-radius: 20px;
}

.white {
  color: #fff;
}

/* Section 1  */

.left-info {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.landing__p {
  font-size: 18px;
  line-height: 1.5;
}

.left-info p {
  margin: 28px 0;
  font-weight: 400;
}

.email {
  position: relative;
  max-width: 450px;
  display: flex;
  align-items: center;
}

.input__email {
  padding: 22px 0;
  padding-left: 32px;
  width: 100%;
  border-radius: 100px;
  border: 2px solid #e5e7eb;
  font-size: 1rem;
  font-weight: 500;
}

.email__btn {
  position: absolute;
  right: 0;
  margin: 8px 8px 8px 0;
  padding: 14px 0;
  width: 160px;
  border-radius: 6969px;
  border: none;
  background-color: rgb(100, 21, 255);
  color: white;
  font-weight: bold;
  line-height: 1.5;
  cursor: pointer;
}
.left-info h2 {
  margin-top: 64px;
  margin-bottom: 12px;
  color: #a0aec0;
  font-weight: 700;
  font-size: 12px;
}

.left-info img {
  opacity: 0.5;
  text-align: center;
}

.container__img {
  width: 100%;
}

.container__img img {
  width: 80%;
  margin-left: 24px;
}
/* FEATURES */
.section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.features__header h2 {
  font-size: 48px;
  font-weight: 900;
  padding: 24px;
  color: #243e63;
  display: flex;
}

.features__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.features__header p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__img {
  border: 1px solid #e2e8f0;
  border-radius: 6969px;
  margin-right: 8px;
  padding: 24px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service {
  display: flex;
  width: 33%;
  padding: 32px 8px;
}

.service__title {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-font);
}


/* Quality Work */
#quality-work .row {
  display: flex;
}

.quality {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quality-text {
  display: flex;
  flex-direction: column;
}

.quality-img {
  width: 100%;
  position: relative;
}
.quality-btn {
  margin-top: 32px;
  padding: 12px 18px;
  width: 132px;
  border-radius: 9999px;
  border: none;
  background-color: #6415ff;
  font-size: 14px;
  color: white;
  font-weight: bold;
  line-height: 1.5;
  cursor: pointer;
}

/* STEPS */

#steps .row {
  display: flex;
  flex-direction: column;
}

.steps__title {
  color: #243363;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.steps-text h2 {
  font-size: 3rem;
  color: #243363;
}

.steps {
  display: flex;
}
.step {
  display: flex;
  margin-top: 24px;
}

.steps__number {
  font-size: 36px;
  color: rgb(203, 213, 224);
  font-weight: 600;
}
.steps-img {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.steps__name {
  margin-left: 24px;
  font-size: 16px;
  color: #7c8ba1;
}

.steps p {
  font-size: 16px;
  line-height: 32px;
  color: #7c8ba1;
}
/* VALUES */
.values__container {
  display: flex;
}
.values__h1 {
  font-weight: 700;
  font-size: 48px;
  color: #243363;
  margin-top: 16px;
}

.values__p {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #7c8ba1;
  text-align: left;
  max-width: 576px;
  margin: 2rem 0 2rem 0;
}
.values__size {
  max-width: 100%;
  height: auto;
}
.options {
  display: flex;
}
.option__top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.option__icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #9ae6b4;
  border-radius: 100%;
  color: rgb(39 103 73);
}
.option__icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: rgb(254 178 178);
  border-radius: 100%;
  color: rgb(155 44 44);
}
.option__name {
  color: #243363;
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
}
.option__bottom {
  line-height: 1.6;
  font-style: 16px;
  color: #7c8ba1;
}

/* Pricing */
.pricing__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.three__plans {
  display: flex;
  justify-content: space-around;

}

.plans {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  text-align: center;
  padding: 24px 0;
  position: relative;
  margin: 14px;
  background-color: white;
}

.personal__highlight {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-image: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}
.enterprise__highlight {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-image: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__top {
  padding: 24px 0px 36px 0px;
}
.plan__price {
  margin: 16px 0;
  font-size: 48px;
  color: #243363;
}

.plans:nth-child(2) {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan__month {
  color: #a0aec0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.plan__mid {
  padding: 24px;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}
.bus {
  color: #f7fafc !important;
}

.plan__info {
  margin-top: 16px;
  font-weight: 500;
  color: #7c8ba1;
}

.plan__bot .business__bot .personal__bot {
  padding: 24px;
}

.business__button {
  border-radius: 30px;
  padding: 20px 75px;
  border: none;
  font-size: 14px;
  background-color: white;
  font-weight: 600;
  color: #6415ff;
  margin-top: 24px;
}

.personal__button {
  border-radius: 30px;
  padding: 20px 75px;
  border: none;
  font-size: 14px;
  color: white;
  font-weight: 600;
  margin-top: 24px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}
.enterprise__button {
  border-radius: 30px;
  padding: 20px 75px;
  border: none;
  font-size: 14px;
  color: white;
  font-weight: 600;
  margin-top: 24px;
  background-image: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/* TESTIMONIALS */
.stars {
  margin-top: -32px;
}
.star {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  fill: currentcolor;
  color: rgba(246, 173, 85);
  margin-top: 40px;
}
.test__adj {
  display: flex;
}
.title {
  margin-bottom: 24px;
}
.testimonial__img {
  width: 140%;
  margin-right: 48px;
  display: flex;
}
.test__h1 {
  padding-top: 24px;
}
.test__img {
  width: 100%;
  height: auto;
}
.sub {
  color: #243363;
  font-size: 20px;
  font-weight: 700;
  margin: 16px 0px;
}
.test__para {
  font-size: 16px;
  margin: 16px 0px 40px 0px;
  color: #4a5568;
  font-weight: 500;
  line-height: 1.625;
}
.profile {
  display: flex;
  align-items: center;
}
.profile__jc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile__img {
  height: 75px;
  max-width: 75px;
  border-radius: 100%;
  overflow: hidden;
}

.pic {
  width: 100%;
}

.profile__desc {
  margin-left: 24px;
}

.profile__name {
  color: #243e63;
  font-size: 20px;
}
.profile__job {
  color: #7c8ba1;
  font-size: 16px;
  font-weight: normal;
}

.arrows {
  display: flex;
  align-items: center;
}
.line {
  border-left: 1px solid rgb(226, 232, 240);
  margin-top: 16px;
  margin-bottom: 16px;
}
.arrow {
  border-radius: 100%;
  cursor: pointer;
  padding: 14px 15px 12px 15px;
  border: none;
  margin: 8px 12px;
  transition: all ease 0.3s;
  background-color: rgb(237 242 247);
  height: 42px;
}
/* Ending */
.contact {
  background-color: #6415ff;
  padding: 100px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.contact__text {
  font-size: 30px;
  max-width: 480px;
  color: #fff;
  z-index: 1;
}
.contact__btns {
  display: flex;
  padding: 12px 0;
  z-index: 1;
}
.started__btn {
  background-color: rgb(245 101 101);
  padding: 20px 40px;
  margin-right: 32px;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  color: white;
  font-weight: 600;
  border: none;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.25);
  transition: all ease 0.5s;
}
.contact__btn {
  background-color: #6415ff;
  padding: 20px 40px;
  
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid rgb(160 174 192);
  transition: all ease 0.3s;
}
.contact__row {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
}

/* Footer */
footer {
  background-color: #6415ff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.footer__container {
  padding-top: 96px;
}
.container {
  padding: 96px 0;
}
.footer {
  margin: 0 32px;
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
}

.link__lists {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  font-size: 16px;
  color: #fff;
}
.footer__sub {
  font-size: 16px;
  text-decoration: underline;

}
.link {
  margin-top: 16px;
  color: #fff;
  font-size: 14px;
}
.line {
  margin: 64px 0px;
  background-color: #793bf5;
  height: 1px;
}

.logo__bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  width: 32px;
  height: 32px;
}
.logo__images {
  display: flex;
  align-items: center;
}
.name__white {
  font-weight: 800;
  margin-left: 12px;
  font-size: 24px;
  color: #243363;
  transition: all ease 0.3s;
  color: #fff;
}
.line {
  margin: 64px 0px;
  background-color: #793bf5;
  height: 1px;
}

.copyright {
  color: #cbd5e0;
}
.social {
  background-color: #fff;
  color: #243363;
  height: 36px;
  width: 36px;
  border-radius: 1000%;
  cursor: pointer;
  display: inline-block;
  margin: 8px;
  padding: 7px;
  text-align: center;
}

/* Media */
@media (max-width: 1024px) {
  .nav__link,
  .nav .btn {
    display: none;
  }

  .values__img {
    display: flex;
  }
  .landing__h1 {
    font-size: 30px;
    text-align: center;
  }
  .btn__menu {
    display: block;
  }
  .service {
    display: flex;
  }
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subtext {
    text-align: center;
    font-size: 16px;
    line-height: 1.625;
  }

  .title {
    font-size: 36px;
  }

  .left-info {
    width: 100%;
    margin: 0 auto;
    max-width: 512px;
    text-align: center;
  }

  .landing__p {
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
  }
  .container__img {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
    margin-top: 36px;
  }
}

@media (max-width: 768px) {
  .rowmedia {
    display: flex;
    flex-direction: column-reverse;
  }
  .steps__h2 {
    text-align: center;
  }

  .subtext {
    margin-left: 50px;
  margin-left: auto;
  margin-right: auto;

  }
  .quality-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    max-width: 448px;
  }
  .quality__h1 {
    font-size: 36px;
    padding-bottom: 16px;
  }
  .title {
    font-size: 16px;
  }
  .steps-img {
    width: 100%;
    max-width: 448px;
  }
  .values__size {
    max-width: 448px;
    height: auto;
  }
  .steps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    display: flex;
    justify-content: center;
  }
  .values__h1 {
    text-align: center;
    font-size: 36px;
  }
  .steps-text {
    flex-direction: column;
    align-items: center;
  }
  .values__img {
    display: flex;
    justify-content: center;
  }
  .values__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 100%;
  }
  .option__top {
    justify-content: center;
  }
  .desktop-show {
    display: initial;
}
  .test__h1 {
    font-size: 38px;
    text-align: center;
  }
  .test__adj{
    flex-direction: column;
  }
  .test__img{
    width: 100%;
    max-width: 448px;
  }
  .testimonial__img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  .testimonial__para{
    text-align: center;
  }

  .contact__text{
    font-size: 18px;
  }
  .contact__row{
    flex-direction: column;
  }
  .contact__btns{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .title {
    text-align: center;
  }
  .email__btn {
    position: static;
    width: 100%;
    padding: 20px;
    display: block;
  }

  .profile__jc {
    flex-direction: column;
  }

  .profile {
    margin-bottom: 24px;
  }
  .link__lists {
    width: calc(100% / 5);
    text-align: center;
    min-width: 125px;
  }

  .contact__btns {
    display: flex;
  }

  .started__btns {
    margin: 0px 0px 16px 0px;
  }
  .desktop-show1 {
    display: initial;
}
.contact__text{
  text-align: center;
  padding-bottom: 28px;
}
.footer__links{
justify-content: center;
  column-gap: 50px;
}
.service{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__title{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.service__para{
font-size: 14px;
}
.email{
  display: block;
width: 100%;

}
.left-info{
  display: flex;
  align-items: center;
}
.customer__img{
  width: 100%;
}
}

@media (max-width: 360px) {
.menu__backdrop{
  width: 425px;
}

.btn__menu{
  font-size: 28px;

}
.options{
  flex-wrap: wrap;
}
.three__plans{
  flex-wrap: wrap;
}
.values__size{
  max-width: 300px;
}
.contact__btns{
  flex-wrap: wrap;
  width: 200px;


}
.started__btn{
  margin: 0;
  max-height: 45px;
  font-size: 16px;
}
.contact__btn{
  margin-top: 16px;
  max-height: 45px;
  font-size: 16px;

}

.footer__container{
  padding: 0;
}
}
