
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}
.btn{
    margin-top: 32px;
    padding: 12px 18px;
    width: 132px;
    border-radius: 9999px;
    border: none;
    background-color: #6415ff;
    font-size: 14px;
    color: white;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}


#navigation .container .row{
    display: flex;
}
.container{
    padding: 80px;
}
section{
    display: block;
}
#navigation{
    padding:2rem;
}
.purple{
    color: rgb(100, 21, 255) ;
}
.container{
    padding: 92px 0;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
h1 {
    font-size: 48px;
    color: #243363;
}

.service__list p{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #7C8BA1;
    text-align: left;
    max-width: 576px;
    margin: 24px 0px 36px 0px;
}

.title{
    color:#6415ff;
    font-weight: 700;
}
/* NAV BAR */
/* To do: Make sure there is a hover effect on it.*/
/* Left Side */
.logo img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo h1{
    color: rgb(36,62,99);
    font-weight: 900;
    font-size: 1.5rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 14px;
}

/* Right Side */
.nav__purple--border{
background-color: rgb(36,62,99);
padding: 12px 32px;
border:20px
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul{
    display: flex;
    justify-content: center;
}

.nav li {
    list-style-type: none;
    font-weight: 600;
    letter-spacing: 0.025em;
    padding: 24px;
}
.nav a{
    text-decoration: none;
    color: rgb(36,62,99);
    font-size: 14px;
}
.nav__purple--border{
    background-color: rgb(100, 21, 255);
    padding: 12px 32px;
    border-radius:20px;
    }

    .white{
        color: #fff ;
    }


    /* Section 1  */

    .left-info{
        width: 40%;
        display: flex;
        flex-direction: column;
    }
.left-info h1{
    font-size: 48px;
    font-weight: 700;
}

.left-info p{
    font-size: 18px;
    margin: 28px 0;
    font-weight: 400;
}

.email{
    position: relative;
    max-width: 450px;
    display: flex;
    align-items: center;
}

.input__email{
padding: 22px 0;
padding-left: 32px;
width: 100%;
border-radius: 100px;
border:  2px solid #e5e7eb;
font-size: 1rem;
font-weight: 500;
}

.email__btn{
    position: absolute;
    right: 0;
    margin: 8px 8px 8px 0;
    padding: 14px 0;
    width: 160px;
    border-radius:6969px;
    border: none;
    background-color: rgb(100, 21, 255) ;
    color: white;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
}
.left-info h2{
    margin-top: 64px;
    margin-bottom: 12px;
    color:#A0AEC0;
    font-weight: 700;
    font-size: 12px;
}

.left-info img{
opacity: 0.5;
padding-right: 128px;

}

.container__img{
    width: 60%;
}

.container__img img{
    max-width: 720px;
    height: auto;
}
/* FEATURES */
.section__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.features__header h2{
    font-size: 48px;
    font-weight: 900;
    padding:24px;
    color:#243e63 ;
    display: flex;
}

.features__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.features__header p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.service__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service__img{
    border: 1px solid #e2e8f0;
    border-radius: 6969px;
    margin-right: 8px;
    padding: 24px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service {
    display: flex;
    width: 33%;
    padding: 32px 8px;
}

.service__title {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-font);
}

.service p {
    margin-top: 18px;
    font-weight: 500;
    line-height: 2;
    color: #7c8ba1;
}
/* Quality Work */
#quality-work .row{
    display: flex;
}


.quality{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.quality-text{
    display: flex;
    flex-direction: column;
}

.quality-img{
    max-width: 100%;
    position: relative;

}
.quality-btn{
    margin-top: 32px;
    padding: 12px 18px;
    width: 132px;
    border-radius: 9999px;
    border: none;
    background-color: #6415ff;
    font-size: 14px;
    color: white;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;

}

/* STEPS */

#steps .row{
    display: flex;
}

.steps__title{
    color: #243363;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.steps-text h2{
    font-size: 3rem;
    color: #243363;
}

.steps{
    display: flex;

}
.step{
    display: flex;
    margin-top: 24px;
}

.steps__number{
    font-size:36px ;
    color: rgb(203, 213, 224);
    font-weight: 600;
}
.steps-img{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}   

.steps__name {
    margin-left: 24px;
    font-size: 16px;
    color: #7C8BA1;
}

.steps p{
    font-size: 16px;
    line-height: 32px;
    color: #7C8BA1;
}
/* VALUES */
.values__container{
    display: flex;
}
.values__h1{
    font-weight: 700;
    font-size: 48px;
    color: #243363;
    margin-top: 16px;
}

.values__p{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #7C8BA1;
    text-align: left;
    max-width: 576px;
    margin: 2rem 0 2rem 0;
}
.values__size{
    max-width: 100%;
    height: auto;
}
.options{
    display: flex;
}
.option__top{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.option__icon1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #9ae6b4;
    border-radius: 100%;
    color: rgb(39 103 73);
}
.option__icon2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: rgb(254 178 178);
    border-radius: 100%;
    color: rgb(155 44 44);
}
.option__name{
    color: #243363;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}
.option__bottom{
    line-height: 1.6;
    font-style: 16px;
    color: #7C8BA1;
}

/* Pricing */
.pricing__title{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.three__plans{
    display: flex;
    justify-content: space-around;
}

.plans{
    display: flex;
flex-direction: column;
width: calc(100%/3);
border:1px  solid #e5e7eb;
border-radius: 10px;
text-align: center;
padding: 24px 0;
position: relative;
margin: 14px;
background-color:white ;
}

.personal__highlight{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
.enterprise__highlight{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);

}

.plan__top{
    padding:24px 0px 36px 0px;
}
.plan__price{
margin: 16px 0;
font-size: 48px;
color: #243363;
}

.plans:nth-child(2){
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__month{
    color: #A0AEC0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.plan__mid{
    padding:24px;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
}
.bus{
    color: #f7fafc !important;
}

.plan__info{
    margin-top: 16px;
    font-weight: 500;
    color: #7C8BA1;
}

.plan__bot .business__bot .personal__bot{
    padding: 24px;
}

.business__button{
        border-radius: 30px;
        padding: 20px 75px;
        border: none;
        font-size: 14px;
        background-color: white;
        font-weight: 600;
        color: #6415ff;
        margin-top: 24px;
}

.personal__button{
    border-radius: 30px;
    padding: 20px 75px;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin-top: 24px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
.enterprise__button{
    border-radius: 30px;
    padding: 20px 75px;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin-top: 24px;
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* TESTIMONIALS */
.test__adj{
    display: flex;

}
.title{
    margin-bottom: 24px;
}
.testimonial__img{
        width: 140%;
        margin-right: 48px;
        display: flex;
}  
.test__h1{
    padding-top: 24px;
}
.test__img{
    width: 100%;
    height: auto;
}
.sub{
    color: #243363;
    font-size: 20px;
    font-weight: 700;
    margin: 16px 0px;
}
.test__para{
    font-size: 16px;
    margin: 16px 0px 40px 0px;
    color: #4A5568;
    font-weight: 500;
    line-height: 1.625;
}